.sidebar {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;

  .widget {
    background-color: #fff;
    padding: 0px;
    .tve-content-box-background {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
}

.blog {
  .sidebar {
    .widget {
      border-top-right-radius: 10px;
    }
  }
}

aside#genesis-sidebar-primary {
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}