/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
  margin: 0;

  li {
    height: 0;
    width: 0;
    list-style: none;
  }
}

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px;
  outline: none;
}