/*!
	Theme Name: TMStarter
	Theme URI: https://travis.media

	Description: The Genesis-powered Travis Media Starter Child Theme
	Author: Travis Rodgers
	Author URI: https://travis.media

	Version: 1.0.1

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
	Text Domain: tmstarter
*/html{box-sizing:border-box;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html,input[type=search]{box-sizing:border-box}*,:after,:before{box-sizing:inherit}.author-box:before,.clearfix:before,.entry-content:before,.entry:before,.footer-widgets:before,.nav-primary:before,.nav-secondary:before,.pagination:before,.site-container:before,.site-footer:before,.site-header:before,.site-inner:before,.widget:before,.wrap:before{content:" ";display:table}.author-box:after,.clearfix:after,.entry-content:after,.entry:after,.footer-widgets:after,.nav-primary:after,.nav-secondary:after,.pagination:after,.site-container:after,.site-footer:after,.site-header:after,.site-inner:after,.widget:after,.wrap:after{clear:both;content:" ";display:table}html{font-size:62.5%}body{background-color:#e7ebef;color:#333;font-family:Merriweather,serif;font-size:17px;font-size:1.7rem;-webkit-font-smoothing:antialiased;font-weight:400;line-height:1.8;margin:0}@media screen and (max-width:767px){body{font-size:16px}}body>div{font-size:1.7rem}@media screen and (max-width:767px){body>div{font-size:1.6rem}}.button,.gallery img,a,button,input:focus,input[type=button],input[type=reset],input[type=submit],textarea:focus{transition:all .1s ease-in-out}a{color:#c4732d}a,a:focus,a:hover{text-decoration:none}a:focus,a:hover{color:#333}p{margin:0 0 28px;padding:0}hr{border:0;border-collapse:collapse;border-top:1px solid #eee;clear:both}b,strong{font-weight:700}blockquote,cite,em,i{font-style:italic}ol,ul{margin:0;padding:0}li{list-style-type:none}blockquote{margin:40px}blockquote:before{content:"\201C";display:block;font-size:30px;font-size:3rem;height:0;left:-20px;position:relative;top:-10px}h1,h2,h3,h4,h5,h6{font-family:lato,sans-serif;font-weight:800;line-height:1.2;margin:0 0 10px;color:#c4732d;font-style:italic}h1{font-size:36px;font-size:3.6rem}h2{font-size:32px;font-size:3.2rem}h3{font-size:28px;font-size:2.8rem}h4{font-size:24px;font-size:2.4rem}h5{font-size:20px;font-size:2rem}h6{font-size:16px;font-size:1.6rem}.wp-caption,embed,iframe,img,object,video{max-width:100%}img{height:auto}figure{margin:0}input,select,textarea{background-color:#fff;border:1px solid #ddd;color:#333;font-size:15px;font-size:1.5rem;font-weight:400;padding:16px;width:100%}input:focus,textarea:focus{border:1px solid #ddd;outline:none}input[type=checkbox],input[type=image],input[type=radio]{width:auto}::-moz-placeholder{color:#333;opacity:1}::-webkit-input-placeholder{color:#333}.button,button,input[type=button],input[type=reset],input[type=submit]{background-color:#333;border:0;color:#fff;cursor:pointer;font-size:16px;font-size:1.6rem;font-weight:700;padding:16px 24px;text-decoration:none;white-space:normal;width:auto}.button:focus,.button:hover,button:focus,button:hover,input:focus[type=button],input:focus[type=reset],input:focus[type=submit],input:hover[type=button],input:hover[type=reset],input:hover[type=submit]{background-color:#c3251d;color:#fff}.entry-content .button:focus,.entry-content .button:hover{color:#fff}.button{display:inline-block}a.button.small,button.small,input[type=button].small,input[type=reset].small,input[type=submit].small{padding:8px 16px}.site-container button:disabled,.site-container button:disabled:hover,.site-container input:disabled,.site-container input:disabled:hover,.site-container input[type=button]:disabled,.site-container input[type=button]:disabled:hover,.site-container input[type=reset]:disabled,.site-container input[type=reset]:disabled:hover,.site-container input[type=submit]:disabled,.site-container input[type=submit]:disabled:hover{background-color:#eee;border-width:0;color:#777;cursor:not-allowed}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button{display:none}li#field_10_33{text-align:center}ul#gform_fields_10 #field_10_33 .gfield_description{font-size:22px;font-weight:700;margin:0 auto}label#label_10_33_0,label#label_10_33_1{font-size:17px}#gform_wrapper_10 .gfield_radio li label{max-width:100%;margin:0 30px}form#gform_8{background:url(https://travis.media/wp-content/uploads/2017/11/wavegrid.png);padding:20px;background-position:50%;border:1px solid #cbcbcb;box-shadow:2px 2px #e7e7e7}input#input_8_3_3,input#input_8_4{background-color:#fff}#gform_8 h2.gsection_title{font-family:Merriweather;text-align:center;color:#444;font-size:1.35em}#gform_8 .gform_footer{padding:12px 0 10px!important;margin:0!important}#gform_8 h3.gform_title{display:none}#gform_8 ul li.gfield{margin-top:0}@media only screen and (min-width:641px){#gform_8 .gsection{margin:28px 16px 15px 0}}.content-signup{color:#fff}.content-signup p{margin:0}.content-signup br{display:none}.content-signup .content-cta{font-family:lato;font-size:2.2rem;font-weight:800;font-style:italic;background-color:#313e50;background:linear-gradient(90deg,rgba(49,62,80,.98),rgba(60,76,97,.98)),url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);background-size:cover;background-position:50%;background-attachment:fixed;padding:15px;width:100%;border:7px double #fff}.content-signup .content-cta .content-subscribe-button{margin-top:5px}.content-signup #gform_wrapper_19{display:none}.content-signup .gform_wrapper{padding:15px;margin:0;background-color:#e8ebf0;border-bottom:7px double #fff;border-left:7px double #fff;border-right:7px double #fff}.content-signup input::-webkit-input-placeholder{font-size:1.4rem}.content-signup input:-ms-input-placeholder,.content-signup input::-ms-input-placeholder{font-size:1.4rem}.content-signup input::placeholder{font-size:1.4rem}.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last,.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle{padding-top:0!important}.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select{margin-bottom:0!important}.gf_simple_horizontal_wrapper li.hidden_label input,body .gf_simple_horizontal_wrapper .top_label div.ginput_container{margin-top:0!important}.gf_simple_horizontal div.gform_footer.top_label{width:auto!important;vertical-align:top!important}.gf_simple_horizontal div.gform_body{width:auto!important}.gf_simple_horizontal div.gform_footer.top_label input[type=submit]{line-height:26px;font-size:13px;padding:8px 24px;background-color:#c4732d;font-family:lato;font-weight:800;font-style:italic}.gallery{overflow:hidden}.gallery-item{float:left;margin:0 0 28px;text-align:center}.gallery-columns-1 .gallery-item{width:100%}.gallery-columns-2 .gallery-item{width:50%}.gallery-columns-3 .gallery-item{width:33%}.gallery-columns-4 .gallery-item{width:25%}.gallery-columns-5 .gallery-item{width:20%}.gallery-columns-6 .gallery-item{width:16.6666%}.gallery-columns-7 .gallery-item{width:14.2857%}.gallery-columns-8 .gallery-item{width:12.5%}.gallery-columns-9 .gallery-item{width:11.1111%}.gallery-columns-2 .gallery-item:nth-child(odd),.gallery-columns-3 .gallery-item:nth-child(3n+1),.gallery-columns-4 .gallery-item:nth-child(4n+1),.gallery-columns-5 .gallery-item:nth-child(5n+1),.gallery-columns-6 .gallery-item:nth-child(6n+1),.gallery-columns-7 .gallery-item:nth-child(7n+1),.gallery-columns-8 .gallery-item:nth-child(8n+1),.gallery-columns-9 .gallery-item:nth-child(9n+1){clear:left}.gallery img{border:1px solid #eee;height:auto;padding:4px}.gallery img:focus,.gallery img:hover{border:1px solid #999}table{border-collapse:collapse;border-spacing:0;line-height:2;margin-bottom:40px;width:100%;word-break:break-word}tbody{border-bottom:1px solid #eee}td,th{text-align:left}td{border-top:1px solid #eee;padding:6px}th{font-weight:400;padding:0 6px}td:first-child,th:first-child{padding-left:0}.screen-reader-shortcut,.screen-reader-text,.screen-reader-text span{position:absolute!important;clip:rect(0,0,0,0);height:1px;width:1px;border:0;overflow:hidden}.genesis-nav-menu .search input[type=submit]:focus,.screen-reader-shortcut:focus,.screen-reader-text:focus,.widget_search input[type=submit]:focus{clip:auto!important;height:auto;width:auto;display:block;font-size:1em;font-weight:700;padding:15px 23px 14px;color:#333;background:#fff;z-index:100000;text-decoration:none;box-shadow:0 0 2px 2px rgba(0,0,0,.6)}.more-link{position:relative}.dropcap{color:#444;float:left;font-family:Georgia;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px}.lead-paragraph{display:block;font-size:22px;font-size:2.2rem;line-height:1.5;letter-spacing:-.7px;margin-bottom:20px}hr.lead-hr{border-top:1px dashed #a5a5a5;width:40%;margin-left:0;margin-top:30px}a.aligncenter img{display:block;margin:0 auto}a.alignnone{display:inline-block}.alignleft{float:left;text-align:left}.alignright{float:right;text-align:right}.aligncenter{text-align:center;margin:0 auto}a.alignleft,a.alignnone,a.alignright{max-width:100%}img.centered{display:block;margin:0 auto 24px}.alignnone,img.alignnone{margin-bottom:12px}a.alignleft,img.alignleft{margin:0 24px 24px 0}.wp-caption.alignright,a.alignright,img.alignright{margin:0 0 24px 24px}.wp-caption.alignleft{margin:0 24px 24px 0}.wp-caption-text{font-size:14px;font-size:1.4rem;font-weight:600;margin:0;text-align:center}.entry-content p.wp-caption-text{margin-bottom:0}.entry-content .wp-audio-shortcode,.entry-content .wp-playlist,.entry-content .wp-video{margin:0 0 28px}.youtube-full{position:relative;width:100%;height:0;padding-bottom:56.25%}.yt-video{position:absolute;top:0;left:0;width:100%;height:100%}.header-search-form,.site-inner,.wrap{margin:0 auto;max-width:1200px}@media screen and (max-width:1340px){.header-search-form,.site-inner,.wrap{max-width:1140px}}@media screen and (max-width:1200px){.header-search-form,.site-inner,.wrap{max-width:960px}}@media screen and (max-width:1023px){.header-search-form,.site-inner,.wrap{max-width:800px}}.site-inner{clear:both;padding-top:40px;word-wrap:break-word;margin-top:-120px}@media screen and (max-width:767px){.site-inner{padding:5% 5% 0}}.front .site-inner{margin-top:0;max-width:100%;background-color:#fff}@media screen and (max-width:767px){.front .site-inner{padding:5% 5% 0}}.single .site-inner{margin-top:120px}@media screen and (max-width:1023px){.single .site-inner{margin-top:120px!important}}@media screen and (max-width:767px){.single .site-inner{padding:5% 5% 0}}@media screen and (max-width:767px){.wrap{padding-left:5%;padding-right:5%}}.landing-page .site-inner{max-width:800px}.blog .site-inner{margin-top:0}@media only screen and (max-width:1023px){.content,.content-sidebar-sidebar .content,.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-primary,.sidebar-secondary,.sidebar-sidebar-content .content,.sidebar-sidebar-content .content-sidebar-wrap{width:100%}}.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:1060px}@media screen and (max-width:1340px){.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:920px}}@media screen and (max-width:1200px){.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:740px}}.content-sidebar-sidebar .content-sidebar-wrap{float:left}.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{float:right}.blog .content{float:left;width:880px;width:100%}.blog .content .entry-image-link{margin:-2rem -2.6rem 0;display:block}.blog .content .entry-title{font-size:3rem}@media screen and (max-width:1340px){.blog .content{width:800px;width:100%}}@media screen and (max-width:1200px){.blog .content{width:620px;width:100%}}.content-sidebar-sidebar .blog .content,.sidebar-content-sidebar .blog .content,.sidebar-sidebar-content .blog .content{width:660px}@media screen and (max-width:1340px){.content-sidebar-sidebar .blog .content,.sidebar-content-sidebar .blog .content,.sidebar-sidebar-content .blog .content{width:580px}}@media screen and (max-width:1200px){.content-sidebar-sidebar .blog .content,.sidebar-content-sidebar .blog .content,.sidebar-sidebar-content .blog .content{width:400px}}.content-sidebar-sidebar .blog .content,.content-sidebar .blog .content,.sidebar-content-sidebar .blog .content{float:left}.full-width-content .blog .content{width:100%}.single .content{float:none;width:73%;margin:0 auto;max-width:100%}@media only screen and (max-width:1023px){.single .content{width:880px}}@media only screen and (min-width:1024px){.single-post .content{float:left}}.single-product #main{float:none;width:880px;margin:0 auto;max-width:100%}.sidebar-primary{float:right;width:26%}@media screen and (max-width:1340px){.sidebar-primary{width:26%}}.sidebar-content .sidebar-primary,.sidebar-sidebar-content .sidebar-primary{float:left}.blog .sidebar-primary{float:right;width:360px}@media screen and (max-width:1340px){.blog .sidebar-primary{width:300px}}@media screen and (max-width:1200px){.blog .sidebar-primary{width:620px}}@media screen and (max-width:1023px){.blog .sidebar-primary{width:620px}}.sidebar-content .blog .sidebar-primary,.sidebar-sidebar-content .blog .sidebar-primary{float:left}.sidebar-secondary{float:left;width:180px}.content-sidebar-sidebar .sidebar-secondary{float:right}.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{float:left;margin-left:2.564102564102564%}.one-half,.three-sixths,.two-fourths{width:48.717948717948715%}.one-third,.two-sixths{width:31.623931623931625%}.four-sixths,.two-thirds{width:65.81196581196582%}.one-fourth{width:23.076923076923077%}.three-fourths{width:74.35897435897436%}.one-sixth{width:14.52991452991453%}.five-sixths{width:82.90598290598291%}.first{clear:both;margin-left:0}@media screen and (max-width:767px){.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{margin:0;width:100%}}.home .tm-section{padding:4.375rem 0;max-width:100%}.home .tm-section .container{margin:0 auto;max-width:1280px;padding-left:15px;padding-right:15px}.home .tm-section .container .tm-section-title{margin-bottom:40px}.home .tm-section .container .tm-section-content img{border-radius:50%}.home .tm-section .container .tm-section-content img.orange-dashed{border:1px dashed #c4732d}.home .tm-section .container .tm-section-content img.blue-dashed{border:1px dashed #313e50}.home .tm-section .panel{margin-bottom:2.564102564102564%;position:relative}.home .tm-section .panel .panel-image{opacity:1;display:block;width:100%;height:auto;transition:.5s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden}.home .tm-section .panel .middle-button{transition:.5s ease;opacity:0;position:absolute;top:45%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);text-align:center}.home .tm-section .panel .middle-button .middle-button-text{color:#313e50;font-size:36px;font-family:lato,serif;font-weight:800;font-style:italic;text-transform:lowercase}.home .tm-section .panel:hover img{opacity:.2;transition:.5s ease}.home .tm-section .panel:hover .middle-button{opacity:1}.home section#work-testimonials{background-color:#e7ebef}.home section#work-testimonials .work-section{margin-bottom:70px}.home section#work-testimonials .work-line{border-top:1px solid #333;width:30%;margin:1em 0}.home section#work-testimonials .testimonial-line{border-top:1px solid #333;width:30%;margin-top:1em;margin-bottom:1em;margin-right:0}.home section#work-testimonials .home-work-project{background:url(https://travis.media/wp-content/uploads/2018/04/header-cta-brush-mark.png);background-repeat:no-repeat;background-size:83%;background-position:19px -5px}@media screen and (max-width:1200px){.home section#work-testimonials .home-work-project{background-position:19px -3px}}@media screen and (max-width:1023px){.home section#work-testimonials .home-work-project{background-position:19px 0}}@media only screen and (max-width:900px){.home section#work-testimonials .home-work-project{background-position:19px 3px}}@media screen and (max-width:767px){.home section#work-testimonials .home-work-project{background-position:19px -4px}}@media only screen and (max-width:600px){.home section#work-testimonials .home-work-project{background-position:19px -1px}}@media only screen and (max-width:480px){.home section#work-testimonials .home-work-project{background:none}}.home section#work-testimonials .home-work-project h3{color:#313131;font-size:28px}.home section#home-panels{background-color:#e7ebef}@media screen and (max-width:767px){.option-4,.option-one,.option-three,.option-two{margin-bottom:50px}}.owl-carousel .aiosrs-rating-wrap{display:none!important}.owl-item p{margin-bottom:0!important}#home-options p.option-title{margin-bottom:10px;font-size:22px;font-style:italic;font-weight:600;letter-spacing:-.5px;font-family:lato;color:#444}#gform_16 .gform_footer{text-align:center}#gform_16 .gform_footer .button{background-color:#313e50;border-radius:10px}.archive .site-inner{clear:both;padding-top:40px;word-wrap:break-word;margin-top:150px;background-color:#fff;padding:40px 56px}.woocommerce button.button.alt{background-color:#c47351!important}.woocommerce div.product p.price,.woocommerce ul.products li.product .price{color:#222!important}.admin-bar .site-container,.header-brush,.header-portrait-image,.header-uvp{padding-top:32px}@media only screen and (max-width:782px){.admin-bar .site-container{padding-top:46px}}.avatar{border-radius:50%;float:left}.alignleft .avatar{margin-right:24px}.alignright .avatar{margin-left:24px}.box-tm{height:33.33%;width:200px;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;margin:0 auto;border-radius:7px;background-color:#c4732d}@media screen and (max-width:1023px){.box-tm{width:175px}}.btn{line-height:45px;height:45px;text-align:center;width:180px;cursor:pointer}@media screen and (max-width:1023px){.btn{width:150px}}.btn-tm{color:#fff;transition:all .5s;position:relative;font-size:15px}.btn-tm:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background-color:hsla(0,0%,100%,.1);transition:all .3s}.btn-tm:hover:before{opacity:0;transform:scale(.5)}.btn-tm:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;opacity:0;transition:all .3s;transform:scale(1.2);border:5px double hsla(0,0%,100%,.18);border-radius:6px}.btn-tm:hover:after{opacity:1;transform:scale(1)}span.bctt-click-to-tweet{background-color:#313e50!important;margin-bottom:35px!important}span.bctt-ctt-text a{color:#fff!important;font-size:19px;font-weight:400;font-style:italic}.bctt-ctt-text a:hover{color:#ffeddd!important}a.bctt-ctt-btn{color:#c4732d!important}.blog .entry-content p{float:left}form.search-form-404 input[type=submit]{height:50px;width:170px;display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;align-items:center;margin:0 auto;border-radius:7px;background-color:#c4732d;line-height:2px;text-align:center;font-size:17px;margin-top:5px}.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}.genesis-skip-link{margin:0}.genesis-skip-link li{height:0;width:0;list-style:none}:focus{color:#333;outline:1px solid #ccc;outline:none}body.home .site-header{background-color:transparent;background:rgba(49,62,80,.98);background:linear-gradient(90deg,rgba(49,62,80,.98),rgba(60,76,97,.98)),url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#313e50",endColorstr="#3C4C61",GradientType=1);background-position:50%,100%;background-repeat:no-repeat;width:100%;z-index:999;height:500px;position:relative}@media only screen and (min-width:1500px){body.home .site-header{background-size:cover}}body.home .site-header>.wrap{padding:0;border-bottom:1px solid #fff;max-height:80px}@media only screen and (max-width:767px){body.home .site-header>.wrap{padding:0 5%}}body.error404 .site-header,body.page:not(.home) .site-header{background-position:50%,100%;background-image:url(https://travis.media/wp-content/uploads/2018/04/dark-default-hero-image.jpg);background-repeat:no-repeat;width:100%;z-index:999;height:300px}@media only screen and (min-width:1500px){body.error404 .site-header,body.page:not(.home) .site-header{background-size:cover}}body.error404 .site-header>.wrap,body.page:not(.home) .site-header>.wrap{padding:0;border-bottom:1px solid #fff;max-height:80px}@media only screen and (max-width:767px){body.error404 .site-header>.wrap,body.page:not(.home) .site-header>.wrap{padding:0 5%}}body.error404 .site-header.dark-logo,body.page:not(.home) .site-header.dark-logo{background-position:50%,100%;background-image:url(https://travis.media/wp-content/uploads/2018/04/dark-default-hero-image.jpg);background-repeat:no-repeat;width:100%;z-index:999;height:300px}@media only screen and (min-width:1500px){body.error404 .site-header.dark-logo,body.page:not(.home) .site-header.dark-logo{background-size:cover}}body.error404 .site-header.dark-logo>.wrap,body.page:not(.home) .site-header.dark-logo>.wrap{padding:0;border-bottom:1px solid #000;max-height:80px}@media only screen and (max-width:767px){body.error404 .site-header.dark-logo>.wrap,body.page:not(.home) .site-header.dark-logo>.wrap{padding:0 5%}}body.blog .site-header,body.search .site-header{background-color:#313e50;background-position:50%;background-image:url(https://travis.media/wp-content/uploads/2018/04/blog-hero-image.jpg);background-repeat:no-repeat;width:100%;z-index:999;height:350px}@media only screen and (min-width:1500px){body.blog .site-header,body.search .site-header{background-size:cover}}body.blog .site-header>.wrap,body.search .site-header>.wrap{padding:0;border-bottom:1px solid #fff;max-height:80px}@media only screen and (max-width:767px){body.blog .site-header>.wrap,body.search .site-header>.wrap{padding:0 5%}}body.blog .site-header.dark-logo,body.search .site-header.dark-logo{background-position:50%,100%;background-image:url(https://travis.media/wp-content/uploads/2018/04/blog-page-header-image.jpg);background-repeat:no-repeat;width:100%;z-index:999;height:400px}@media only screen and (min-width:1500px){body.blog .site-header.dark-logo,body.search .site-header.dark-logo{background-size:cover}}body.blog .site-header.dark-logo>.wrap,body.search .site-header.dark-logo>.wrap{padding:0;border-bottom:1px solid #000;max-height:80px}@media only screen and (max-width:767px){body.blog .site-header.dark-logo>.wrap,body.search .site-header.dark-logo>.wrap{padding:0 5%}}body.archive,body.single{background-image:url(https://travis.media/wp-content/uploads/2018/04/blog-header-default-image.jpg);background-position:top;background-repeat:no-repeat;background-attachment:fixed;height:400px}@media only screen and (min-width:1500px){body.archive,body.single{background-size:contain;height:400px}}body.archive .site-header>.wrap,body.single .site-header>.wrap{padding:0;border-bottom:1px solid #fff;max-height:80px}@media only screen and (max-width:767px){body.archive .site-header>.wrap,body.single .site-header>.wrap{padding:0 5%}}body.archive .site-header.dark-logo>.wrap,body.single .site-header.dark-logo>.wrap{padding:0;border-bottom:1px solid #000;max-height:80px}@media only screen and (max-width:767px){body.archive .site-header.dark-logo>.wrap,body.single .site-header.dark-logo>.wrap{padding:0 5%}}.title-area{float:left;padding:20px 0;width:300px}@media only screen and (max-width:1023px){.title-area{width:100%;text-align:center}}.header-full-width .title-area{float:none;width:100%}@media only screen and (max-width:1023px){.site-description,.site-header .title-area,.site-header .widget-area,.site-title{text-align:center}}.blog-archive-title{font-size:2.6em!important;position:absolute;color:#fff;top:238px;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);text-align:center}.site-title{font-size:30px;font-size:3rem;font-weight:700;line-height:1.2}.site-title a,.site-title a:focus,.site-title a:hover{color:#fff;text-decoration:none}.site-description{font-size:16px;font-size:1.6rem;font-weight:400;line-height:1.5}.site-description,.site-title{margin-bottom:0;color:#fff}.header-image .title-area{margin:0 auto;max-width:300px;padding:0}@media only screen and (max-width:1023px){.header-image .title-area{float:left}}@media only screen and (max-width:480px){.header-image .title-area{max-width:200px}}.header-image .site-header .site-title>a{background-position:50%!important;background-size:contain!important;float:left;min-height:80px;width:100%;background-repeat:no-repeat;background-image:url(https://travis.media/wp-content/uploads/2018/04/travis-media-logo-white.png)}.header-image .site-header .site-description,.header-image .site-header .site-title{display:block;text-indent:-9999px}.header-image .site-header.dark-logo .site-title>a{background-image:url(https://travis.media/wp-content/uploads/2018/04/travis-media-logo-black.png)}.header-image .site-header.dark-logo .site-description,.header-image .site-header.dark-logo .site-title{display:block;text-indent:-9999px}.site-header .nav-primary{float:right;text-align:right;width:800px}@media only screen and (max-width:1200px){.site-header .nav-primary{width:620px}}@media only screen and (max-width:1023px){.site-header .nav-primary{width:460px}}@media only screen and (max-width:1023px){.site-header .nav-primary .genesis-nav-menu a{padding:32px 15px}}.header-uvp{position:absolute;left:49%;top:282px;text-align:right;z-index:1}@media screen and (max-width:1023px){.header-uvp{left:48%}}@media screen and (max-width:767px){.header-uvp{left:19%;right:19%;text-align:center;top:192px}}@media only screen and (max-width:920px){.header-uvp{left:1%;right:1%}}.header-uvp h2{font-size:4.7rem;color:#fff;width:100%;font-weight:400}@media screen and (max-width:1340px){.header-uvp h2{font-size:4.3rem}}@media screen and (max-width:1023px){.header-uvp h2{font-size:3.9rem}}.header-uvp p{font-family:lato,sans-serif;color:#f3f3f3;font-style:italic;font-weight:800;margin-top:-5px;font-size:1.7rem}.header-brush{position:absolute;left:45%;top:340px}@media screen and (max-width:1340px){.header-brush{top:335px}}@media screen and (max-width:1200px){.header-brush{top:336px}}@media screen and (max-width:1023px){.header-brush{left:40%;top:328px}}@media only screen and (max-width:820px){.header-brush{top:331px}}@media screen and (max-width:767px){.header-brush{left:14%;top:242px}}@media only screen and (max-width:600px){.header-brush{display:none}}@media screen and (max-width:1340px){.header-brush .brush-stroke{width:90%}}@media screen and (max-width:1200px){.header-brush .brush-stroke{width:97%}}@media screen and (max-width:1023px){.header-brush .brush-stroke{width:95%}}@media only screen and (max-width:920px){.header-brush .brush-stroke{width:99%}}@media screen and (max-width:767px){.header-brush .brush-stroke{width:81%}}@media only screen and (max-width:600px){.header-brush .brush-stroke{width:83%}}.header-portrait-image{position:absolute;left:136px;top:100px;top:68px}@media screen and (max-width:1340px){.header-portrait-image{left:95px}}@media screen and (max-width:1200px){.header-portrait-image{left:81px}}@media screen and (max-width:1023px){.header-portrait-image{left:0}}@media only screen and (max-width:820px){.header-portrait-image{left:-14px}}@media screen and (max-width:767px){.header-portrait-image{display:none}}.genesis-nav-menu{clear:both;font-family:lato,sans-serif;font-size:18px;font-size:1.8rem;font-weight:800;line-height:1;text-transform:lowercase;width:100%}@media only screen and (max-width:1023px){.genesis-nav-menu{text-align:center}.genesis-nav-menu .genesis-nav-menu li,.site-header ul .genesis-nav-menu{float:none}}.genesis-nav-menu .menu-item{display:inline-block;margin-bottom:0;padding-bottom:0;text-align:left}.genesis-nav-menu a{color:#fff;text-decoration:none;display:block;padding:32px 20px}.genesis-nav-menu .current-menu-item>a,.genesis-nav-menu .sub-menu .current-menu-item>a:focus,.genesis-nav-menu .sub-menu .current-menu-item>a:hover,.genesis-nav-menu a:focus,.genesis-nav-menu a:hover{color:#c4732d;text-decoration:underline}.genesis-nav-menu .sub-menu{border-top:1px solid #eee;left:-9999px;opacity:0;position:absolute;transition:opacity .4s ease-in-out;width:200px;z-index:99;border-top:4px solid #c4732d}.genesis-nav-menu .sub-menu a{background-color:#fff;border:1px solid #eee;border-top:0;font-size:14px;font-size:1.4rem;padding:20px;position:relative;width:200px;word-wrap:break-word;color:#333}.genesis-nav-menu .sub-menu .sub-menu{margin:-56px 0 0 199px}.genesis-nav-menu .menu-item:hover{position:static}.genesis-nav-menu .menu-item:hover>.sub-menu{left:auto;opacity:1}.genesis-nav-menu>.first>a{padding-left:0}.genesis-nav-menu>.last>a{padding-right:0}.genesis-nav-menu>.right{float:right}.site-header.dark-logo .nav-primary ul li a{color:#000}.site-header.dark-logo .nav-primary .search a .icon-search{fill:#000}.nav-top{text-align:right}.nav-top ul#menu-top-menu.genesis-nav-menu a{padding:8px 20px;color:#313e50;font-size:15px}.menu .menu-item:focus{position:static}.menu .menu-item.sfHover>ul.sub-menu,.menu .menu-item>a:focus+ul.sub-menu{left:auto;opacity:1}.menu-toggle,.sub-menu-toggle{display:none;visibility:hidden}@media only screen and (max-width:1023px){.menu-toggle,.sub-menu-toggle{border-width:0;background-color:#fff;color:#333;display:block;margin:0 auto;overflow:hidden;text-align:center;visibility:visible}}@media only screen and (max-width:1023px){.sub-menu-toggle{float:right;padding:10px;position:absolute;right:0;top:0;z-index:100}.sub-menu-toggle:focus,.sub-menu-toggle:hover{border-width:0}.sub-menu-toggle:before{display:inline-block;text-rendering:auto;transform:translate(0)}.sub-menu-toggle.activated:before{content:"\f142"}.menu-toggle{border-top:1px solid #eee;line-height:20px;position:relative;right:0;z-index:1000;width:100%}.site-header .menu-toggle{border:0}.menu-toggle.activated:before,.menu-toggle:before{margin-right:10px;text-rendering:auto;transform:translate(0)}}.breadcrumb{background-color:#fff;font-size:12px;font-size:1.2rem;margin-bottom:1px;padding:12px 30px;border-top-left-radius:6px;border-top-right-radius:6px}.site-header .genesis-nav-menu li li{margin-left:0}.site-header .nav-mobile{float:right;width:auto}@media only screen and (min-width:767px){.site-header .nav-mobile{display:none}}.site-header .nav-mobile a{display:block;float:left;width:64px;height:64px;line-height:80px;text-align:center}@media only screen and (max-width:480px){.site-header .nav-mobile a{display:none}}.site-header .nav-mobile a svg{fill:#fff;width:16px;height:16px}@media only screen and (max-width:767px){.nav-primary{display:none}}.menu-primary .search a{line-height:64px;line-height:0;padding:0;width:64px;height:64px;text-align:center}.menu-primary .search a .icon-search{fill:#fff;width:16px;height:16px}#nav-toggle{display:none}@media only screen and (max-width:767px){#nav-toggle{display:block}}.nav-secondary{background-color:#fff;border-top:1px solid #eee}.pagination{clear:both;margin:40px 0;text-align:center}@media only screen and (max-width:767px){.pagination{margin:5% auto}}.adjacent-entry-pagination{margin-bottom:0}.archive-pagination li{display:inline}@media only screen and (max-width:767px){.archive-pagination li a{margin-bottom:4px}}.archive-pagination a{background-color:#fff;color:#333;cursor:pointer;display:inline-block;font-size:16px;font-size:1.6rem;font-weight:600;padding:8px 12px;text-decoration:none}.active .archive-pagination a,.archive-pagination a:focus,.archive-pagination a:hover{background-color:#c3251d;color:#fff}#sidr{box-shadow:inset 0 5px 5px 1px #222}#sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}#sidr li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}#sidr li ul{border-bottom:none;margin:0}#sidr a,#sidr span{padding:0 15px;display:block;text-decoration:none;color:#fff}ul.sidr-class-sub-menu li a{margin-left:30px}.sidr-class-search svg{display:none}.site-footer .genesis-nav-menu{padding-bottom:20px}.site-footer .genesis-nav-menu a{padding:0 20px 10px}@media only screen and (max-width:1023px){.js .genesis-nav-menu .sub-menu,.js .genesis-nav-menu .sub-menu a{width:100%}.js .genesis-nav-menu .menu-item:hover{position:relative}.js .genesis-nav-menu .menu-item>a:focus ul.sub-menu,.js .genesis-nav-menu .menu-item>a:focus ul.sub-menu .sub-menu{left:0;margin-left:0}.js .genesis-nav-menu>.menu-item-has-children>a:after{content:none}.js .genesis-nav-menu .sub-menu{border:none;clear:both;display:none;margin:0;opacity:1;padding-left:15px;position:static;width:100%}.js .genesis-nav-menu .sub-menu .sub-menu{margin:0}.js .nav-primary .genesis-nav-menu .menu-item,.js .site-header .genesis-nav-menu .menu-item{display:block;float:none;margin:1px 0;position:relative;text-align:left}.js .nav-primary .genesis-nav-menu .menu-item a,.js .site-header .genesis-nav-menu .menu-item a{border:none;padding:12px 0;width:100%}.js .menu-toggle:focus,.js .menu-toggle:hover,.js .nav-primary,.js nav button:focus,.js nav button:hover{background-color:#fff}.js .menu-toggle:hover,.js .nav-primary,.js nav button:hover{color:#000}.js .menu-toggle:focus,.js nav button:focus{color:#c3251d}}.entry{background-color:#fff;padding:40px 56px}@media only screen and (max-width:767px){.entry{padding:15px;margin-bottom:5%}}.blog .entry,.search-results .entry{padding:20px 26px;box-shadow:0 1rem 2rem -1rem rgba(35,44,57,.2);width:31.623931623931625%;margin-bottom:40px}.blog .entry,.blog .entry:nth-of-type(2n),.search-results .entry,.search-results .entry:nth-of-type(2n){margin-left:2.564102564102564%;float:left}@media only screen and (min-width:1024px){.blog .entry:nth-of-type(3n+1),.search-results .entry:nth-of-type(3n+1){margin-left:0;clear:both;float:left}}@media screen and (max-width:1023px){.blog .entry,.search-results .entry{padding:20px 26px;box-shadow:0 1rem 2rem -1rem rgba(35,44,57,.2);width:48.71795%;margin-left:0;float:left}.blog .entry:nth-of-type(2n),.search-results .entry:nth-of-type(2n){margin-left:2.564102564102564%;float:left}}@media screen and (max-width:767px){.blog .entry,.search-results .entry{padding:20px 26px;box-shadow:0 1rem 2rem -1rem rgba(35,44,57,.2);width:100%}.blog .entry:nth-of-type(2n),.search-results .entry:nth-of-type(2n){margin-left:0;float:left}}.archive .entry{width:31.623931623931625%;float:left;padding:10px}.archive .entry,.archive .entry:nth-of-type(2n){margin-left:2.564102564102564%}.archive .entry:nth-of-type(3n+1){margin-left:0}@media only screen and (min-width:1024px){.archive .entry:nth-of-type(3n+1){margin-left:0;clear:both;float:left}}@media screen and (max-width:1023px){.archive .entry{padding:20px 26px;box-shadow:0 1rem 2rem -1rem rgba(35,44,57,.2);width:48.71795%;margin-left:0;float:left}.archive .entry:nth-of-type(2n){margin-left:2.564102564102564%;float:left}}@media screen and (max-width:767px){.archive .entry{padding:20px 26px;box-shadow:0 1rem 2rem -1rem rgba(35,44,57,.2);width:100%}.archive .entry:nth-of-type(2n){margin-left:0;float:left}}.grow{transition:all .2s ease-in-out}.grow:hover{transform:scale(1.1)}.shrink{transition:all .2s ease-in-out}.shrink:hover{transform:scale(.9)}p.entry-meta{font-size:14px;font-size:1.4rem;margin-bottom:0}.entry-header .subtitle{font-style:italic;color:#444;margin-top:-12px;font-family:lato,sans-serif}.entry-title{font-size:36px;font-size:3.6rem;color:#333}@media only screen and (max-width:479px){.entry-title{font-size:30px;font-size:3rem}}.entry-title a{color:#333;text-decoration:none}.entry-title a:focus,.entry-title a:hover{color:#c4732d}.entry-header .entry-meta{margin-bottom:24px;letter-spacing:-.5px}.entry-comments-link a{text-transform:uppercase;color:#222}.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6,.singular-featured-image{margin-bottom:2.8rem}.entry-content ol,.entry-content ul{margin-bottom:28px;margin-left:40px}.entry-content ol>li{list-style-type:decimal}.entry-content ul>li{list-style-type:disc}.entry-content ol ol,.entry-content ul ul{margin-bottom:0}.entry-content code{background-color:#eee;color:#333}.entry-footer .entry-meta{border-top:1px solid #eee;padding-top:24px;margin-bottom:0;display:none}.entry-categories,.entry-tags{display:block}.after-entry{background-color:#fff;font-size:18px;font-size:1.8rem;margin-bottom:40px;padding:60px}@media screen and (max-width:767px){.after-entry{padding:30px;margin-bottom:5%}}.related{background-color:#fff;padding:0}.related a{text-decoration:none}.related-post-image{vertical-align:top}.related-post-info{margin-top:10px;font-size:15px}.related-title{font-size:13px;display:inline-block;margin-bottom:12px;font-size:16px;font-family:Merriweather,serif;font-weight:400}.related-title:before{content:"";display:block;width:100%;min-width:30px;border-top:1px solid rgba(0,0,0,.2);margin-bottom:1em}.related-post-date{font-size:14px;color:#858585}.related-post-categories,.related-post-categories a,.related-post-tags,.related-post-tags a{color:#858585;display:none}.related-post-categories a:hover,.related-post-tags a:hover{color:#333}.related-post-categories,.related-post-tags{font-size:13px;margin-top:10px;font-style:italic}.related-posts{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:space-between;display:grid;grid-gap:20px;grid-template-columns:1fr 1fr 1fr}.related-post{width:31.4814814815%;opacity:1}.related-post:hover{opacity:1}@supports (grid-area:auto){.related-post{width:auto}}@media only screen and (max-width:500px){.related-post{width:100%}.related-posts{grid-gap:40px;grid-template-columns:1fr}@supports (grid-area:auto){.related-post{width:auto}}}.author-box .avatar{margin-right:24px}.comment-respond,.entry-comments,.entry-pings{background-color:#fff;font-size:16px;font-size:1.6rem;margin-bottom:40px}@media only screen and (max-width:767px){.comment-respond,.entry-comments,.entry-pings{padding:30px;margin-bottom:5%}}.comment-respond,.entry-pings{padding:60px 60px 32px}.entry-comments{padding:60px}.entry-pings .reply{display:none}#comments{background-color:#fff;padding:0 56px;margin-bottom:40px}.comment-list li{padding:40px 0 0 30px}.comment-list .depth-1{padding-left:0}.comment-header{margin-bottom:30px}.comment-header p{margin-bottom:0}.comment .avatar{margin:0 16px 24px 0}.comment-content{clear:both}.comment-content ul>li{list-style-type:disc}.comment-respond label{display:block;margin-right:12px}.comment-respond input[type=email],.comment-respond input[type=text],.comment-respond input[type=url]{width:50%}.sidebar{font-size:16px;font-size:1.6rem;margin-bottom:40px}.sidebar .widget{background-color:#fff;padding:0}.sidebar .widget .tve-content-box-background{border-top-right-radius:6px;border-top-left-radius:6px}.blog .sidebar .widget{border-top-right-radius:10px}@media only screen and (max-width:1023px){aside#genesis-sidebar-primary{display:none}}.widget{margin-bottom:40px;word-wrap:break-word}.widget ul>li{margin-bottom:10px;padding-bottom:10px}.widget ul>li:last-of-type{padding-bottom:0}.widget ol>li{list-style-position:inside;list-style-type:decimal;padding-left:20px;text-indent:-20px}.widget li li{border:0;margin:0 0 0 30px;padding:0}.widget-area .widget:last-of-type,.widget p:last-child,.widget ul>li:last-of-type{margin-bottom:0}@media only screen and (max-width:767px){.sidebar .widget{padding:30px;margin-bottom:5%}}.archive-widget.widget-area{padding:50px;background-color:#fff;clear:both;width:70%;margin:30px auto;text-align:center}@media screen and (max-width:767px){.archive-widget.widget-area{display:none}}.archive-widget.widget-area .jaw_widget{text-align:left}.archive-widget.widget-area h3{font-size:2.4rem}.wpt_widget_content .entry-title{font-weight:400!important;font-size:1.5rem;line-height:1.3}section#ajaxsearchlitewidget-2,section#ajaxsearchlitewidget-3{padding:0 10px 22px;border-radius:4px;background-color:#fff!important;background-image:repeating-linear-gradient(135deg,rgba(240,243,243,.7),rgba(240,243,243,.7) 3px,transparent 0,transparent 6px)!important;background-size:auto!important;background-position:50% 50%!important;background-attachment:scroll!important;background-repeat:repeat!important}div.asl_r .results .item .asl_content{line-height:1.5!important}div.asl_r .results .item .asl_content h3 a{color:#c4732d;font-weight:700}div.asl_r .results .item .asl_content h3 a:hover{font-size:16px!important;color:#c4732d}div.asl_r .results .item .asl_content .asl_desc{margin-bottom:10px;font-size:14px}#custom_html-17{border-radius:4px;background-color:#fff!important;background-image:repeating-linear-gradient(135deg,rgba(240,243,243,.7),rgba(240,243,243,.7) 3px,transparent 0,transparent 6px)!important;background-size:auto!important;background-position:50% 50%!important;background-attachment:scroll!important;background-repeat:repeat!important;padding:20px}#custom_html-17 .widget-title{font-size:2.4rem;text-align:center}#custom_html-17 ul li{margin-bottom:0;list-style:circle outside none;color:#000;margin-left:18px;line-height:1.2}#custom_html-17 ul li a{font-size:14px;color:#000}.sidebar .widget-title a{color:#333;text-decoration:none}.widget-title{font-size:18px;font-size:1.8rem;margin-bottom:20px}.widget_calendar table{width:100%}.widget_calendar td,.widget_calendar th{text-align:center}.featured-content .entry{background:none;padding:0}.featured-content .entry:last-of-type{margin-bottom:0}.featured-content .entry-title{font-size:20px;font-size:2rem}.header-search-form{display:none;background:#5d6b79;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:8px 0;position:fixed;top:80px;width:100%;z-index:99;margin:0 auto}@media only screen and (max-width:1023px){.header-search-form{top:80px!important}}@media only screen and (max-width:767px){.header-search-form{width:87%}}.header-search-form .wrap{padding-left:10px!important;padding-right:10px!important}.header-search-form .search-form{max-width:568px;padding-right:48px;position:relative;margin:0 auto}.header-search-form .search-form input{padding:6px}.header-search-form .search-form .search-submit{background:#e8ebf0;border:none;position:absolute;top:0;right:0;width:48px;height:41px;padding:0;text-align:center}.header-search-form .search-form .search-submit .icon-search{fill:#313e50;height:25px;width:25px;margin-top:8px}.search-open{display:block}.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.footer-widgets-4{width:21.875%}.footer-widgets-1,.footer-widgets-2,.footer-widgets-3{float:left;margin-right:4.166666666%}.footer-widgets-4{float:right}@media only screen and (max-width:768px){.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.footer-widgets-4{width:47.9166666666%}.footer-widgets-2{float:right;margin:0}}@media only screen and (max-width:480px){.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.footer-widgets-4{width:100%}.footer-widgets-1,.footer-widgets-2,.footer-widgets-3{margin:0}}#menu-footer-menu li,#menu-policies li{margin:0;padding:0}#genesis-footer-widgets{padding:4.375rem 0;background-color:#e7ebef}#genesis-footer-widgets h3{font-size:2.4rem}.footer-widgets-2 img{width:100px;height:100px}.footer-social-link{float:left;margin-right:6px}#custom_html-14{margin-bottom:0}.site-footer{background-color:#fff;border-top:1px solid #eee;font-size:16px;font-size:1.6rem;line-height:1;padding:20px 0;text-align:center}.site-footer p{margin-bottom:0}.footer-subscribe{width:100%;background-color:#fff;color:#313e50;border-top:6px double #313e50;border-bottom:6px double #313e50}.footer-subscribe .footer-subscribe-title{font-weight:700;font-style:italic;margin-top:85px;font-size:21px}@media screen and (max-width:1200px){.footer-subscribe .footer-subscribe-title{margin-top:66px}}@media screen and (max-width:1023px){.footer-subscribe .footer-subscribe-title{margin-top:0;text-align:center;padding-top:40px}}.footer-subscribe .footer-subscribe-form{font-weight:400}#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 table{margin-bottom:21px}#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 tbody,#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 td{border:none}#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 form#zcampaignOptinForm input{display:inline-block;width:49%;float:left;border-radius:4px;padding:12px}#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 form#zcampaignOptinForm input:first-child{margin-right:3px}#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 button{background-color:#c4732d;padding:9px 45px;margin-top:10px;float:right;border-radius:6px;font-size:17px}#gform_8 .gform_footer .button,#gform_16 .gform_footer .button,#gform_17 .gform_footer .button{height:50px;width:170px;display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;align-items:center;margin:0 auto;border-radius:7px;background-color:#c4732d;line-height:2px;text-align:center;font-size:17px}#gform_wrapper_17.gform_wrapper .gfield{margin-top:0}#gform_wrapper_17.gform_wrapper .gform_footer{padding:0;margin:0}#gform_wrapper_17.gform_wrapper label{font-weight:400;font-size:15px}#gform_8 .gform_footer.top_label p{font-size:14px;margin:10px 0 0}.home .nc_socialPanelSide{display:none}#simple-social-icons-6 .ssi-youtube a{background-color:#b00!important;color:#fff!important}#simple-social-icons-6 .ssi-pinterest a{background-color:#bd081c!important;color:#fff!important}#simple-social-icons-6 .ssi-instagram a{background-color:#517fa4!important;color:#fff!important}.testimonial-content p{font-size:1.7rem;font-style:normal}.elementor-image .sw-pinit,.elementor-post__thumbnail .sw-pinit{display:block!important;position:static!important}.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{background-color:#c4732d!important}.woocommerce .woocommerce-MyAccount-navigation li{list-style-type:none}.woocommerce-account .entry{padding:40px 100px}.woocommerce-account .entry .entry-content form{width:70%;margin:2em auto}.convertfox-messanger-home-title{font-family:lato,sans-serif!important;font-style:italic!important}.convertfox-messanger-home-subtitle{font-size:1rem!important}.welcome-active-agents .user-avatar>img{width:50px!important;height:50px!important}@media screen and (max-width:1023px){.notification-bar{display:none}}.notification-bar .wrap{max-width:100%}#custom_html-15{margin-bottom:0}#cf-hello-bar{text-align:center;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;align-items:center;background-color:#e7ebef;padding:5px 20px;position:relative}#cf-hello-bar .cf-from-header{display:inline-block;text-align:center;vertical-align:middle;padding:5px 20px;-ms-flex-positive:1;flex-grow:1}@media only screen and (max-width:1200px){#cf-hello-bar .cf-from-header{padding:5px 0}}#cf-hello-bar .cf-from-header .text{color:#222;font-size:16px;line-height:1.6;font-weight:400;text-rendering:optimizeLegibility;margin-top:0;margin-bottom:5px!important;display:inline-block}@media only screen and (max-width:1200px){#cf-hello-bar .cf-from-header .text{font-size:14px}}#cf-hello-bar .cf-from-header .cf-form-submit{display:inline-block;vertical-align:middle;padding-right:20px}@media only screen and (max-width:1200px){#cf-hello-bar .cf-from-header .cf-form-submit{padding-right:0}}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group{position:relative;width:100%;display:table;border-collapse:separate}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form .cf-fields-responsive{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin-left:15px;margin-right:10px}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form .cf-fields-responsive div{margin-right:10px!important}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form .cf-fields-responsive input{display:block;border:1px solid #ccc;color:rgba(0,0,0,.75);font-size:14px;font-weight:400;font-family:inherit;padding:8px;height:37px;width:100%}@media only screen and (max-width:1200px){#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form .cf-fields-responsive input{font-size:13px}}#cf-hello-bar .cf-from-header .cf-form-submit .cf-form-input-group form .cf-fields-responsive input[type=submit]{padding:17px;border:0;border-radius:3px;font-weight:400;display:inline-block;width:100%;height:55px;font-size:14px;text-align:center;max-width:100%;overflow:hidden;text-overflow:ellipsis;padding:0!important;width:130px!important;height:37px!important;margin-right:10px;background-color:#c4732d;color:#fff}#five-things-form .tve_lg_input_container.tve_lg_input{width:49%;display:inline-block}#five-things-form .tve_lg_input_container.tve_lg_input:nth-child(2){margin-left:2%}.archive.post-type-archive.post-type-archive-lp_course article{width:100%}.archive.post-type-archive.post-type-archive-lp_course article .woocommerce-message{border-top-color:#c4732d}.archive.post-type-archive.post-type-archive-lp_course article .woocommerce-message:before{color:#c4732d}.archive.post-type-archive.post-type-archive-lp_course article .woocommerce-message a{float:none;background-color:#313e50;border-radius:8px;padding:12px 24px}.lp_course-template-default .content{width:100%}.lp_course-template-default ul.learn-press-nav-tabs.course-nav-tabs{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;background-color:#e7ebef}.lp_course-template-default ul.learn-press-nav-tabs.course-nav-tabs li:active{color:#c4732d}.lp_course-template-default ul.learn-press-nav-tabs.course-nav-tabs li a{color:#444}.lp_course-template-default ul.learn-press-nav-tabs.course-nav-tabs li.active a{color:#c4732d}ul.learn-press-nav-tabs .course-nav.active:after,ul.learn-press-nav-tabs .course-nav:hover:after{background:#c4732d}div#learn-press-course .course-featured-image{text-align:center}div#learn-press-course .course-price{margin-top:30px;margin-bottom:0;text-align:center}div#learn-press-course .lp-course-buttons{margin-top:10px;text-align:center}div#learn-press-course .course-landing-summary .course-meta{text-align:center;margin-bottom:30px}.course-landing-summary .course-curriculum ul.curriculum-sections li.section{list-style-type:none!important}.course-landing-summary .course-curriculum ul.curriculum-sections li.section .section-header .section-title{font-size:24px!important}.course-landing-summary .course-curriculum ul.curriculum-sections li.section .section-content .course-item{font-size:18px!important;list-style-type:none}.course-curriculum ul.curriculum-sections .section-content .course-item.current{background:#e7ebef}.course-curriculum ul.curriculum-sections .section-content li a{color:#444}.lp-single-course .course-landing-summary .course-author .author-name{float:none;text-align:left}.lp-single-course .course-landing-summary .course-author .author-name img{margin-right:10px}#course-item-content-header{background:#e7ebef!important}form.lp-button-back.form-button button{background:#3f3f3f;border-radius:10px;height:41px}form.continue-course.form-button button{padding:0 40px;height:55px;border-radius:10px;background:#3f3f3f}#learn-press-profile-header.lp-profile-header .lp-profile-avatar{position:relative;font-size:24px;bottom:0;left:0}#learn-press-profile-header.lp-profile-header .lp-profile-avatar .profile-name{display:block;position:relative;width:100%;text-align:center;font-size:24px}#learn-press-profile-nav,#learn-press-profile-nav:before{background:transparent!important}#learn-press-profile-nav .tabs{list-style-type:none}#learn-press-profile-nav .tabs li{margin-bottom:0;position:relative;list-style-type:none}#learn-press-profile-nav .tabs li a{display:block;text-decoration:none;padding:5px 10px;border:none;box-shadow:none;outline:none}#learn-press-profile-nav .tabs li.active a{background:#e7ebef!important;border-radius:8px}#learn-press-profile-nav .tabs li.courses,#learn-press-profile-nav .tabs li.quizzes{display:none}#learn-press-profile-content .lp-sub-menu{margin-left:0}#learn-press-profile-content .lp-sub-menu .failed,#learn-press-profile-content .lp-sub-menu .passed{display:none}#learn-press-profile-content .learn-press-subtab-content{background-color:#f5f5f5;padding:30px}#learn-press-profile-content .learn-press-subtab-content .lp-list-table thead tr th{background:#313e50}#learn-press-profile-content table .label-in-progress{color:#313e50;margin-top:3px}#lp-single-course .lp-label.label-enrolled,#lp-single-course .lp-label.label-started{background:#313e50;padding:10px}#learn-press-content-item #course-item-content-header .course-title{font-size:1.8rem}.learn-press-form.form-button{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center}.learn-press-form.form-button button{background-color:#3f3f3f;padding:3px 25px;border-radius:10px}body.course-item-popup #learn-press-content-item h3.course-item-title{font-size:2.8rem;padding:20px 0;text-align:center}body.course-item-popup #learn-press-content-item .content-item-summary .videoWrapper{margin-bottom:40px}.form-button-finish-course,.lp-archive-courses .learn-press-search-course-form{display:none}.lp-archive-courses ul.learn-press-courses .course .course-title{line-height:1.3;font-size:1.3em}.lp-archive-courses ul.learn-press-courses .course .button-purchase-course{background:#313e50;border-radius:8px;margin-top:5px}.lp-archive-courses ul.learn-press-courses .course .more-info{background:#313e50;border-radius:8px;margin-top:9px}.lp-archive-courses ul.learn-press-courses .course .more-info a{color:#fff}.lp-archive-courses ul.learn-press-courses .course .course-page{background:#313e50;border-radius:8px;margin-top:5px}.lp-archive-courses ul.learn-press-courses .course .course-page a{color:#fff}.single-lp_course button.lp-button.button.button-purchase-course{max-width:100%;padding:0 12px;width:200px;height:50px;border-radius:8px;font-size:1.7rem;background-color:#c4732d}.single-lp_course .course-page,.single-lp_course .more-info{display:none}.archive-description{background-color:#ccc;font-size:18px;font-size:1.8rem;margin-bottom:40px;padding:60px;display:none}.archive-description p:last-child{margin-bottom:0}@media screen and (max-width:767px){.archive-description{padding:30px;margin-bottom:5%}}.archive-description .entry-title,.archive-title{font-size:20px}.search .content{background-color:#e8ebf0;padding:2.564102564102564%}.search aside{display:none}