
html {
  font-size: $html--font-size; /* 10px browser default */
}

body {
  background-color: #e7ebef;
  color: $base__color;
  font-family: $base--font-family;
  @include rem( font-size, $base--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;

   @include media( $breakpoint__screen-size--small ) {
    font-size: $base--font-size--small-screen;
  }

  /* Chrome fix */
  > div {
    font-size: $base__div--font-size;

     @include media( $breakpoint__screen-size--small ) {
      font-size: $base__div--font-size--small-screen;
    }
  }
}