/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: $input--background-color;
  border: 1px solid $input--border-color;
  color: $input--color;
  @include rem( font-size, $input--font-size );
  font-weight: 400;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $input--focus-border-color;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: $input--color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $input--color;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $button--background-color;
  border: 0;
  color: $button--color;
  cursor: pointer;
  @include rem( font-size, $button--font-size );
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
  background-color: $button--hover-background-color;
  color: $button--hover-color;
}

.entry-content .button:hover,
.entry-content .button:focus {
  color: $button--color;
}

.button {
  display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px;
}
.site-container {
  button:disabled,
  button:disabled:hover,
  input:disabled,
  input:disabled:hover,
  input[type="button"]:disabled,
  input[type="button"]:disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover {
    background-color: $button--disabled-background-color;
    border-width: 0;
    color: $button--disable-color;
    cursor: not-allowed;
  }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* GRAVITY FORMS #1 */
li#field_10_33 {
  text-align: center;
}

ul#gform_fields_10 #field_10_33 .gfield_description {
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto;
}

label#label_10_33_0 {
  font-size: 17px
}

label#label_10_33_1{
font-size: 17px;
}

#gform_wrapper_10 .gfield_radio li label {
  max-width: 100%;
  margin: 0px 30px 0 30px;
}

/* GRAVITY FORMS #8 */
form#gform_8 {
background: url(https://travis.media/wp-content/uploads/2017/11/wavegrid.png);
  padding: 20px;
  background-position: center center;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px #e7e7e7;
}

input#input_8_3_3, input#input_8_4 {
  background-color: white;
}

#gform_8 h2.gsection_title {
font-family: Merriweather;
  text-align: center;
color: #444;
font-size: 1.35em;
}

#gform_8 .gform_footer {
  padding: 12px 0 10px!important;
  margin: 0!important;
}

#gform_8 h3.gform_title {
display:none;
}

#gform_8 ul li.gfield {
margin-top: 0px;
}

@media only screen and (min-width: 641px) {
  #gform_8 .gsection {
      margin: 28px 16px 15px 0;
  }
}

.content-signup {
  color: white;
  p {
    margin: 0;
  }
  br {
    display: none;
  }
  .content-cta {
    font-family: lato;
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
    background-color: #313e50;
    background: linear-gradient(90deg,rgba(49,62,80,.98),rgba(60,76,97,.98)),url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 15px;
    width: 100%;
    border-top: 7px double #fff;
    border-left: 7px double #fff;
    border-right: 7px double #fff;
    border-bottom: 7px double #fff;
    .content-subscribe-button {
      margin-top: 5px;
    }
  }
  #gform_wrapper_19 {
    display: none;
  }
  .gform_wrapper {
    padding: 15px;
    margin: 0;
    background-color: #e8ebf0;
    border-bottom: 7px double #fff;
    border-left: 7px double #fff;
    border-right: 7px double #fff;
  }
  input::placeholder {
    font-size: 1.4rem;
  }
}

.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle,
.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last {
  padding-top: 0 !important;
}

.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
  margin-bottom: 0 !important;
}

.gf_simple_horizontal_wrapper li.hidden_label input {
  margin-top: 0 !important;
}

body .gf_simple_horizontal_wrapper .top_label div.ginput_container {
  margin-top: 0 !important;
}

.gf_simple_horizontal div.gform_footer.top_label {
  width: auto !important;
  vertical-align: top !important;
}

.gf_simple_horizontal div.gform_body {
  width: auto !important;
}

.gf_simple_horizontal div.gform_footer.top_label input[type="submit"] {
  line-height: 26px;
  font-size: 13px;
  padding: 8px 24px;
  background-color: #c4732d;
  font-family: lato;
  font-weight: 800;
  font-style: italic;
}