.dropcap {
    color: #444;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.lead-paragraph {
    display: block;
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: -0.7px;
    margin-bottom: 20px;
}

hr.lead-hr {
    border-top: 1px dashed #a5a5a5;
    width: 40%;
    margin-left: 0;
    margin-top: 30px;
}

