/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
  @media only screen and (max-width: 767px){
    display: none;
  }
  //background-color: $primary-nav--background-color;
  //border-top: 1px solid $primary-nav--border-color;
}
.menu-primary {
  .search {
    a {
      line-height: 64px;
      line-height: 0;
      padding: 0;
      width: 64px;
      height: 64px;
      text-align: center;
      .icon-search {
        fill: #fff;
        width: 16px;
        height: 16px;
      }
    }
  }
}

#nav-toggle {
  display: none;
}
@media only screen and (max-width: 767px){
  #nav-toggle {
      display: block;
  }
}
