#sidr {
  box-shadow: 0 5px 5px 1px #222 inset;
  .sidr-inner {

  }
  ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #4d4d4d;
  }
  li {
    display: block;
    margin: 0;
    line-height: 48px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
    ul {
      border-bottom: none;
      margin: 0;
    }
  }
  a, span {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
}

ul.sidr-class-sub-menu li a {
  margin-left: 30px;
}

.sidr-class-search {
  svg {
    display: none;
  }
}