/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}


.site-header {
  .nav-mobile {
    float: right;
    width: auto;
    @media only screen and (min-width: 767px) {
      display: none;
    }
    a {
      display: block;
      float: left;
      width: 64px;
      height: 64px;
      line-height: 80px;
      text-align: center;
      @media only screen and (max-width: 480px) {
        display: none;
      }
      svg {
        fill: #fff;
        width: 16px;
        height: 16px;
      }
    }
  }
}