//
// Widget Base Stylings
//========================

.widget {
  margin-bottom: 40px;
  word-wrap: break-word;

  ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
  }
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%;
  }
}

.archive-widget.widget-area {
  padding: 50px;
  background-color: white;
  clear: both;
  width: 70%;
  margin: 30px auto;
  text-align: center;
  @include media( $breakpoint__screen-size--small ) {
    display: none;
  }
  .jaw_widget {
    text-align: left;
  }
  h3 {
    font-size: 2.4rem;
  }
}

// Popular Tab Widget
.wpt_widget_content .entry-title {
  font-weight: 400!important;
  font-size: 1.5rem;
  line-height: 1.3;
}
section#ajaxsearchlitewidget-2, section#ajaxsearchlitewidget-3 {
  /* background-color: transparent; */
  padding: 0 10px 22px;
  border-radius: 4px;
  /* clip-path: url(#clip-bottom-bivak7ht0t1b1); */
  background-color: rgb(255, 255, 255) !important;
  background-image: repeating-linear-gradient(135deg, rgba(240, 243, 243, 0.7), rgba(240, 243, 243, 0.7) 3px, transparent 3px, transparent 6px) !important;
  background-size: auto !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: repeat !important;
  /* border: 1px dashed rgb(49, 62, 80) !important; */
}

div.asl_r .results .item .asl_content {
  line-height: 1.5!important;
}
div.asl_r .results .item .asl_content h3 a {
  color: #c4732d;
  font-weight: bold;
}

div.asl_r .results .item .asl_content h3 a:hover {
  font-size: 16px!important;
  color: #c4732d;
}

div.asl_r .results .item .asl_content .asl_desc {
  margin-bottom: 10px;
  font-size: 14px;
}

// Recommended
#custom_html-17 {
  padding: 20px;
  border-radius: 4px;
  background-color: #fff!important;
  background-image: repeating-linear-gradient(135deg,rgba(240,243,243,.7),rgba(240,243,243,.7) 3px,transparent 0,transparent 6px)!important;
  background-size: auto!important;
  background-position: 50% 50%!important;
  background-attachment: scroll!important;
  background-repeat: repeat!important;
  padding: 20px;
  .widget-title {
    font-size: 2.4rem;
    text-align: center;
  }
  ul {
    li {
      margin-bottom: 0;
      list-style: circle outside none;
      color: black;
      margin-left: 18px;
      line-height: 1.2;
      a {
        font-size: 14px;
        color: $black;
      }
    }
  }
}
 