/* ## Search Form
--------------------------------------------- */

// .search-form {
//   overflow: hidden;

//   .entry-content &,
//   .site-header & {
//     margin-bottom: 40px;
//     width: 50%;
//   }

//   .site-header & {
//     float: right;
//     margin: 12px auto 0;

//     @media only screen and (max-width: 1023px) {
//       float: none;
//       margin: 16px auto;
//     }
//   }
// }

// .post-password-form,
// .search-form {
//   input[type="submit"] {
//     margin-top: 10px;
//   }
// }

// .genesis-nav-menu .search,
// .widget_search {
//   input[type="submit"] {
//     border: 0;
//     clip: rect(0, 0, 0, 0);
//     height: 1px;
//     margin: -1px;
//     padding: 0;
//     position: absolute;
//     width: 1px;
//   }
// }

.header-search-form {
  display: none;
  background: rgba(93, 107, 121, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 0;
  position: fixed;
  top: 80px;
  //left: 0;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
  @media only screen and (max-width: 1023px) {
    top: 80px!important;
  }
  @media only screen and (max-width: 767px) {
    width: 87%;
  }
  .wrap{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .search-form {
    max-width: 568px;
    padding-right: 48px;
    position: relative;
    margin: 0 auto;
    input {
      padding: 6px;
    }
    .search-submit {
      background: #e8ebf0;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 41px;
      padding: 0;
      text-align: center;
      .icon-search {
        fill: $blue;
        height: 25px;
        width: 25px;
        margin-top: 8px;
      }
    }
  }
}

.search-open {
  display: block;
}
