.convertfox-messanger-home-title {
  font-family: 'lato', sans-serif!important;
  font-style: italic!important;
}

.convertfox-messanger-home-subtitle {
  font-size: 1rem!important;
}

.welcome-active-agents .user-avatar>img {
  width: 50px!important;
  height: 50px!important;
}

.notification-bar {
  @include media( $breakpoint__screen-size--medium ) {
    display: none;
  }
  .wrap {
    max-width: 100%;
  }
}

#custom_html-15 {
  margin-bottom: 0;
}

#cf-hello-bar {
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #e7ebef;
  padding: 5px 20px;
  position: relative;
  .cf-from-header {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 20px;
    flex-grow: 1;
    @media only screen and (max-width: 1200px) {
      padding: 5px 0px;
    }
    .text {
      color: #222;
      font-size: 16px;
      line-height: 1.6;
      font-weight: normal;
      text-rendering: optimizeLegibility;
      margin-top: 0;
      margin-bottom: 5px !important;
      display: inline-block;
      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }
    .cf-form-submit {
      display: inline-block;
      vertical-align: middle;
      padding-right: 20px;
      @media only screen and (max-width: 1200px) {
        padding-right: 0px;
      }
      .cf-form-input-group {
        position: relative;
        width: 100%;
        display: table;
        border-collapse: separate;
        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          .cf-fields-responsive {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 15px;
            margin-right: 10px;
            div {
              margin-right: 10px!important;
            }
            input {
              display: block;
              border: 1px solid #CCC;
              color: rgba(0, 0, 0, 0.75);
              font-size: 14px;
              font-weight: normal;
              font-family: inherit;
              padding: 8px;
              height: 37px;
              width: 100%;
              @media only screen and (max-width: 1200px) {
                font-size: 13px;
              }
            }
            input[type=submit] {
              padding: 17px;
              border: 0;
              -moz-border-radius: 3px;
              -webkit-border-radius: 3px;
              border-radius: 3px;
              font-weight: normal;
              display: inline-block;
              width: 100%;
              height: 55px;
              font-size: 14px;
              text-align: center;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0 !important;
              width: 130px !important;
              height: 37px !important;
              margin-right: 10px;
              background-color: #c4732d;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
    