#gform_16, #gform_8, #gform_17 {
  .gform_footer {
    .button {
      height: 50px;
      width: 170px;
      display: -ms-flexbox;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 7px;
      background-color: #c4732d;
      line-height: 2px;
      text-align: center;
      font-size: 17px;
    }
  }
}

#gform_wrapper_17.gform_wrapper {
  .gfield {
    margin-top: 0;
  }
  .gform_footer {
    padding: 0;
    margin: 0;
  }
  label {
    font-weight: 400;
    font-size: 15px;
  }
}

#gform_8 .gform_footer.top_label p {
  font-size: 14px;
  margin: 10px 0 0;
}