.archive.post-type-archive.post-type-archive-lp_course article {
    width: 100%;
    .woocommerce-message {
        border-top-color: #c4732d;
        &:before {
            color: #c4732d;
        }
        a {
            float: none;
            background-color: #313e50;
            border-radius: 8px;
            padding: 12px 24px;
        }
    }
}

.lp_course-template-default {
    .content {
        width: 100%;
    }
    ul.learn-press-nav-tabs.course-nav-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7ebef;
        li {
            &:active {
                color: #c4732d
            }
            a {
                color: #444;;
            }
        }
        li.active {
            a {
                color: #c4732d;
            }
        }
    }
}

ul.learn-press-nav-tabs .course-nav.active:after, ul.learn-press-nav-tabs .course-nav:hover:after {
    background: #c4732d;
}

div#learn-press-course {
    .course-featured-image {
        text-align: center;
    }
    .course-price {
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: center;
    }
    .lp-course-buttons {
        margin-top: 10px;
        text-align: center;
    }
    .course-landing-summary {
        .course-meta {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

.course-landing-summary {
    .course-curriculum {
        ul.curriculum-sections {
            li.section {
                list-style-type: none!important;
                .section-header {
                    .section-title {
                        font-size: 24px!important;
                    }
                }
                .section-content {
                    .course-item {
                        font-size: 18px!important;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}

// Course pages 
.course-curriculum {
    ul.curriculum-sections{
        .section-content {
            .course-item.current {
                background: #e7ebef;
            }
            li {
                a {
                    color: #444;
                }
            }
        }
    }
}

.lp-single-course {
    .course-landing-summary {
        .course-author {
            .author-name {
                float: none;
                text-align: left;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}

#course-item-content-header {
    background: #e7ebef!important;
}

form.lp-button-back.form-button button {
    background: #3f3f3f;
    border-radius: 10px;
    height: 41px;
}

form.continue-course.form-button button {
    padding: 0px 40px;
    height: 55px;
    border-radius: 10px;
    background: #3f3f3f;
}


// Profile Page
#learn-press-profile-header.lp-profile-header {
    .lp-profile-avatar {
        // position: absolute;
        // bottom: 0;
        // top: 0;
        // left: 10px;
        position: relative;
        font-size: 24px;
        bottom: 0;
        left: 0;
        .profile-name {
            display: block;
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
    }
}
#learn-press-profile-nav {
    background: transparent!important;
    &:before {
        background: transparent!important;
    }
    .tabs {
        list-style-type: none;
        li {
            margin-bottom: 0;
            position: relative;
            list-style-type: none;
            a {
                display: block;
                text-decoration: none;
                padding: 5px 10px;
                border: none;
                box-shadow: none;
                outline: none;
            }
            ul {
                li.active {
                    a {
                        
                    }
                }
            }
        }
        li.active a {
            background: #e7ebef!important;
            border-radius: 8px;
        }
        li.quizzes, li.courses {
            display: none;
        }
    }
}
#learn-press-profile-content {
    .lp-sub-menu {
        margin-left: 0;
        .passed, .failed {
            display: none;
        }
    }
    .learn-press-subtab-content {
        background-color: #f5f5f5;
        padding: 30px;
        .lp-list-table thead tr th {
            background: #313e50;
        }
    }
    table {
        .label-in-progress {
            color: #313e50;
            margin-top: 3px;
        }
    }

}


//Single Course
#lp-single-course {
    .lp-label.label-enrolled, .lp-label.label-started {
        background: #313e50;
        padding: 10px;
    }
}

#learn-press-content-item {
    #course-item-content-header {
        .course-title {
            font-size: 1.8rem;
        }
    }
}

.learn-press-form.form-button {
    display: flex;
    justify-content: center;
    button {
        background-color: #3f3f3f;
        padding: 3px 25px;
        border-radius: 10px;
    }
}

body.course-item-popup #learn-press-content-item {
    h3.course-item-title { 
        font-size: 2.8rem;
        padding: 20px 0;
        text-align: center;
    }
    .content-item-summary {
        .videoWrapper {
            margin-bottom: 40px;
        }
    }
}

.form-button-finish-course {
    display: none;
}

.lp-archive-courses {
    .learn-press-search-course-form {
        display: none;
    }
    ul.learn-press-courses {
        .course {
            .course-title {
                line-height: 1.3;
                font-size: 1.3em;
            }
            .button-purchase-course {
                background: #313e50;
                border-radius: 8px;
                margin-top: 5px;
            }
            .more-info {
                background: #313e50;
                border-radius: 8px;
                margin-top: 9px;
                a {
                    color: $white;
                }
            }
            .course-page {
                background: #313e50;
                border-radius: 8px;
                margin-top: 5px;
                a {
                    color: $white;
                }
            }
        }
    }
}

.single-lp_course {
    button.lp-button.button.button-purchase-course {
        max-width: 100%;
        padding: 0px 12px;
        width: 200px;
        height: 50px;
        border-radius: 8px;
        font-size: 1.7rem;
        background-color: #c4732d;
    }
    .course-page, .more-info {
        display: none;
    }
}