#simple-social-icons-6 .ssi-youtube a {
	background-color: #bb0000 !important;
	color: #fff !important;
}

#simple-social-icons-6 .ssi-pinterest a {
	background-color: #BD081C !important;
	color: #fff !important;
}

#simple-social-icons-6 .ssi-instagram a {
	background-color: #517fa4 !important;
	color: #fff !important;
}