.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  background-color: #c4732d!important;
}

.woocommerce {
  .woocommerce-MyAccount-navigation {
    li {
      list-style-type: none;
    }
  }
}

.woocommerce-account {
  .entry {
    padding: 40px 100px;
    .entry-content {
      form {
        width: 70%;
        margin: 2em auto;
      }
    }
  }
}