//
// Site Header Base Style
//==============================

body.home {
  .site-header {
    background-color: transparent;
    background: rgba(49, 62, 80, 0.98);
    background: -moz-linear-gradient(left, rgba(49, 62, 80, 0.98), rgba(60, 76, 97, 0.98)), url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);
    background: -webkit-linear-gradient(left, rgba(49, 62, 80, 0.98), rgba(60, 76, 97, 0.98)), url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);
    background: linear-gradient(to right, rgba(49, 62, 80, 0.98), rgba(60, 76, 97, 0.98)), url(https://travis.media/wp-content/uploads/2018/04/travis-media-hero-background.jpg);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313e50', endColorstr='#3C4C61',GradientType=1 );
    background-position: center, right;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 500px;
    position: relative;
    @media only screen and (min-width: 1500px) {
      background-size: cover;
    }

    > .wrap {
      padding: 0;
      border-bottom: 1px solid #fff;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
}

body.page:not(.home), body.error404 {
  .site-header {
    background-position: center, right;
    background-image: url(https://travis.media/wp-content/uploads/2018/04/dark-default-hero-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 300px;
    @media only screen and (min-width: 1500px) {
      background-size: cover;
    }

    > .wrap {
      padding: 0;
      border-bottom: 1px solid #fff;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
  .site-header.dark-logo {
    background-position: center, right;
    background-image: url(https://travis.media/wp-content/uploads/2018/04/dark-default-hero-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 300px;
    @media only screen and (min-width: 1500px) {
      background-size: cover;
    }

    > .wrap {
      padding: 0;
      border-bottom: 1px solid #000;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
}

body.blog, body.search {
  .site-header {
    background-color: #313e50;
    background-position: center;
    background-image: url(https://travis.media/wp-content/uploads/2018/04/blog-hero-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 350px;
    @media only screen and (min-width: 1500px) {
      background-size: cover;
    }

    > .wrap {
      padding: 0;
      border-bottom: 1px solid #fff;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
  .site-header.dark-logo {
    background-position: center, right;
    background-image: url(https://travis.media/wp-content/uploads/2018/04/blog-page-header-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 400px;
    @media only screen and (min-width: 1500px) {
      background-size: cover;
    }

    > .wrap {
      padding: 0;
      border-bottom: 1px solid #000;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
}

body.single, body.archive {
  background-image: url(https://travis.media/wp-content/uploads/2018/04/blog-header-default-image.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  @media only screen and (min-width: 1500px) {
    background-size: contain;
    height: 400px;
  }
  .site-header {
    > .wrap {
      padding: 0;
      border-bottom: 1px solid #fff;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
  .site-header.dark-logo {
    > .wrap {
      padding: 0;
      border-bottom: 1px solid #000;
      max-height: 80px;
      @media only screen and (max-width: 767px) {
        padding: 0 5%;
      }
    }
  }
}
