.header-uvp {
  position: absolute;
  left: 49%;
  //top: 350px;
  top: 282px;
  text-align: right;
  z-index: 1;
  @include media( $breakpoint__screen-size--medium ) {
    left: 48%;
  }
  @include media( $breakpoint__screen-size--small ) {
    left: 19%;
    right: 19%;
    text-align: center;
    top: 192px;
  }
  @media only screen and (max-width: 920px) {
    left: 1%;
    right: 1%;
  }
  h2 {
    font-size: 4.7rem;
    color: white;
    width: 100%;
    font-weight: 400;
    @include media( $breakpoint__screen-size--larger ) {
      font-size: 4.3rem;
    }
    @include media( $breakpoint__screen-size--medium ) {
      font-size: 3.9rem;
    }
  }
  p {
    font-family: $base--font-headers;
    color: #f3f3f3;
    font-style: italic;
    font-weight: 800;
    margin-top:-5px;
    font-size: 1.7rem;
  }
}

.header-brush {
  position: absolute;
  left: 45%;
  //top: 408px;
  top: 340px;
  @include media( $breakpoint__screen-size--larger ) {
    top: 335px;
  }
  @include media( $breakpoint__screen-size--large ) {
    top: 336px;
  }
  @include media( $breakpoint__screen-size--medium ) {
    left: 40%;
    top: 328px;
  }
  @media only screen and (max-width: 820px) {
    top: 331px;
  }
  @include media( $breakpoint__screen-size--small ) {
    left: 14%;
    top: 242px;
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
  .brush-stroke {
    @include media( $breakpoint__screen-size--larger ) {
      width: 90%;
    }
    @include media( $breakpoint__screen-size--large ) {
      width: 97%;
    }
    @include media( $breakpoint__screen-size--medium ) {
      width: 95%;
    }
    @media only screen and (max-width: 920px) {
      width: 99%;
    }
    @include media( $breakpoint__screen-size--small ) {
      width: 81%;
    }
    @media only screen and (max-width: 600px) {
      width: 83%;
    }
  }
}

.header-portrait-image {
  position: absolute;
  left: 136px;
  //top: 132px;
  top: 100px;
  top: 68px;
  //display: none;
  @include media( $breakpoint__screen-size--larger ) {
    left: 95px;
  }
  @include media( $breakpoint__screen-size--large ) {
    left: 81px;
  }
  @include media( $breakpoint__screen-size--medium ) {
    left: 0;
  }
  @media only screen and (max-width: 820px) {
    left: -14px;
  }
  @include media( $breakpoint__screen-size--small ) {
    display: none;
  }
}