/* ## Widget Area
--------------------------------------------- */

.site-header .nav-primary {
  float: right;
  text-align: right;
  width: $header-right--width;

  @media only screen and (max-width: 1200px) {
    width: $header-right--width-large-screen;
  }

  @media only screen and (max-width: 1023px) {
    width: 460px;
  }
  .genesis-nav-menu a {
    @media only screen and (max-width: 1023px) {
      padding: 32px 15px;
    }
  }
}