//
// Main entry article
//==============================

.entry {
  background-color: $entry--background-color;
  //margin-bottom: 40px;
  padding: 40px 56px;

  @media only screen and (max-width: 767px) {
    padding: 15px;
    margin-bottom: 5%;
  }
}

.blog, .search-results {
  .entry {
    padding: 20px 26px;
    box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.2);
    width: 31.623931623931625%;
    margin-left: 2.564102564102564%;
    float: left;
    margin-bottom: 40px;
  }
  .entry:nth-of-type(even) {
    margin-left: 2.564102564102564%;
    float: left;
  }
  @media only screen and (min-width: 1024px){
    .entry:nth-of-type(3n + 1) {
      margin-left: 0;
      clear: both;
      float: left;
    }
  }
  @include media( $breakpoint__screen-size--medium ) {
    .entry {
      padding: 20px 26px;
      box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.2);
      width: 48.71795%;
      margin-left: 0;
      float: left;
    }
    .entry:nth-of-type(even) {
      margin-left: 2.564102564102564%;
      float: left;
    }
  }
  @include media( $breakpoint__screen-size--small ) {
    .entry {
      padding: 20px 26px;
      box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.2);
      width: 100%
    }
    .entry:nth-of-type(even) {
      margin-left: 0;
      float: left;
    }
  }
}

.archive {
  .entry {
    width: 31.623931623931625%;
    margin-left: 2.564102564102564%;
    float: left;
    padding: 10px;
  }
  .entry:nth-of-type(even) {
    margin-left: 2.564102564102564%;
  }
  .entry:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  @media only screen and (min-width: 1024px){
    .entry:nth-of-type(3n + 1) {
      margin-left: 0;
      clear: both;
      float: left;
    }
  }
  @include media( $breakpoint__screen-size--medium ) {
    .entry {
      padding: 20px 26px;
      box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.2);
      width: 48.71795%;
      margin-left: 0;
      float: left;
    }
    .entry:nth-of-type(even) {
      margin-left: 2.564102564102564%;
      float: left;
    }
  }
  @include media( $breakpoint__screen-size--small ) {
    .entry {
      padding: 20px 26px;
      box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.2);
      width: 100%
    }
    .entry:nth-of-type(even) {
      margin-left: 0;
      float: left;
    }
  }
}

.grow { 
  transition: all .2s ease-in-out; 
  &:hover {
    transform: scale(1.1);
  }
}

.shrink { 
  transition: all .2s ease-in-out; 
  &:hover {
    transform: scale(0.9); 
  }
}