/* ## Entry Content
--------------------------------------------- */

.entry-content {

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2.8rem;
  }

  ol, ul {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
  }

  code {
    background-color: $entry-content__code--background-color;
    color: $entry-content__code--color;
  }
}