.admin-bar .site-container, .header-uvp, .header-brush, .header-portrait-image {
  padding-top: 32px;
}

@media only screen and (max-width: 782px) {
  
  .admin-bar .site-container {
    padding-top: 46px;
  }
}