// div[class*=box] {
// 	height: 33.33%;
// 	width: 200px; 
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
// 	border-radius: 7px;
// 	background-color: #c4732d;
// }

.box-tm { 
	height: 33.33%;
	width: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
	border-radius: 7px;
	background-color: #c4732d;
	@include media( $breakpoint__screen-size--medium ) {
    width: 175px;
  }
}

.btn {
	line-height: 45px;
	height: 45px;
	text-align: center;
	width: 180px;
	cursor: pointer;
	@include media( $breakpoint__screen-size--medium ) {
    width: 150px;
  }
}


.btn-tm {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
	font-size: 15px;
}
.btn-tm::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-tm:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-tm::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	//border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
	border: 5px double hsla(0, 0%, 100%, 0.18);
  border-radius: 6px;
}
.btn-tm:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

/* CLICK TO TWEET */
span.bctt-click-to-tweet {
	background-color: #313e50!important;
	margin-bottom: 35px!important;
}

span.bctt-ctt-text a {
	color: #ffffff!important;
	font-size: 19px;
	font-weight: 400;
	font-style: italic;
}

.bctt-ctt-text a:hover {
color: #ffeddd !important;
}

a.bctt-ctt-btn {
	color: #c4732d!important;
}

.blog .entry-content p {
float: left;
}

form.search-form-404 input[type="submit"] {
	height: 50px;
	width: 170px;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 7px;
	background-color: #c4732d;
	line-height: 2px;
	text-align: center;
	font-size: 17px;
	margin-top: 5px;
}