/* ### Content */

.blog {
  .content {
    float: left;
    width: $content--width;
    //width: 900px;
    width: 100%;
    .entry-image-link {
      margin: -2rem -2.6rem 0px -2.6rem;
      display: block;
    }
    .entry-title {
      font-size: 3rem;
    }

    @include media( $breakpoint__screen-size--larger ) {
      width: $content--width-larger-screen;
      //width: 820px;
      width: 100%;
    }

    @include media( $breakpoint__screen-size--large ) {
      width: $content--width-large-screen;
      //width: 630px;
      width: 100%;
    }

    @include media( $breakpoint__screen-size--medium ) {
      //width: 767px;
      //max-width: 100%;
    }

    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
      width: $content-both-sidebars--width;

      @include media( $breakpoint__screen-size--larger ) {
        width: $content-both-sidebars--width-larger-screen;
      }

      @include media( $breakpoint__screen-size--large ) {
        width: $content-both-sidebars--width-large-screen;
      }
    }

    .content-sidebar &,
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar & {
      float: left;
    }

    .full-width-content & {
      width: 100%;
    }
  }
}

//Content for Single template

.single {
  .content {
    float: none;
    width: 73%;
    margin: 0 auto;
    max-width: 100%;
    @media only screen and (max-width: 1023px) {
      width: $content--width;
    }
  }
}

.single-post {
  .content {
    @media only screen and (min-width: 1024px) {
      float: left;
      //width: 70%;
      //margin: 0 0 0 5%;
    }
  }
}

.single-product {
  #main {
    float: none;
    width: $content--width;
    margin: 0 auto;
    max-width: 100%;
  }
}
