/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  //width: $primary-sidebar--width;
  width: 26%;

  @include media( $breakpoint__screen-size--larger ) {
    //width: $primary-sidebar--width-larger-screen;
    width: 26%;
  }

  @include media( $breakpoint__screen-size--medium ) {
    //width: 100%;
    //max-width: 100%;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

.blog {
  .sidebar-primary {
    float: right;
    width: $primary-sidebar--width;
    //width: 380px;
  
     @include media( $breakpoint__screen-size--larger ) {
      width: $primary-sidebar--width-larger-screen;
      //width: 320px;
    }

    @include media( $breakpoint__screen-size--large ) {
      width: $content--width-large-screen;
      //width: 330px;
    }

    @include media( $breakpoint__screen-size--medium ) {
      width: $content--width-large-screen;
      //width: 100%;
      //max-width: 100%;
    }
  
    .sidebar-content &,
    .sidebar-sidebar-content & {
      float: left;
    }
  }
}


