.entry-header {
  .entry-meta {
    margin-bottom: 24px;
    //@include rem( font-size, $entry-header__entry-meta--font-size );
    letter-spacing: -0.5px;
  }
}

.entry-comments-link {
  a {
    text-transform: uppercase;
    color: #222;
  }
}