//
// Entry Title
//======================

.entry-title {
  @include rem( font-size, $entry-title--font-size );
  color: $gray;
  @media only screen and (max-width: 479px) {
    @include rem( font-size, $entry-title--font-size-smaller );
  }

  a {
    color: $entry-title--link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $entry-title--hover-color;
    }
  }
}