/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $siteFooter--background-color;
  border-top: 1px solid $site-footer--border-color;
  @include rem( font-size, $site-footer--font-size );
  line-height: 1;
  padding: 20px 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.footer-subscribe {
  width: 100%;
  background-color: #ffffff;
  color: #313e50;
  border-top: 6px double #313e50;
  border-bottom: 6px double #313e50;
  .footer-subscribe-title {
    font-weight: bold;
    font-style: italic;
    margin-top: 85px;
    font-size: 21px;
    @include media( $breakpoint__screen-size--large ) {
      margin-top: 66px;
    }
    @include media( $breakpoint__screen-size--medium ) {
      margin-top: 0;
      text-align: center;
      padding-top: 40px;
    }
  }
  .footer-subscribe-form {
    font-weight: normal;
  }
}

// Footer subscribe form
#sf80c9666352066a8a4fb8c81d75075e40ab16e7ccaa8dd327 {
  table {
    margin-bottom: 21px;
  }
  td, tbody {
    border: none;
  }
  form#zcampaignOptinForm {
    input {
      display: inline-block;
      width: 49%;
      float: left;
      border-radius: 4px;
      padding: 12px;
    }
    input:first-child {
      margin-right: 3px;
    }
  }
  button {
    background-color: #c4732d;
    padding: 9px 45px;
    margin-top: 10px;
    float: right;
    border-radius: 6px;
    font-size: 17px;
  }
}