//
// Title Area Base Styles
//==============================

.title-area {
  float: left;
  padding: 20px 0;
  width: $title-area--width;

  @media only screen and (max-width: 1023px) {
    width: 100%;
    text-align: center;
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }
}

.blog-archive-title {
  font-size: 2.6em !important;
  position: absolute;
  color: #ffffff;
  top: 238px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
