.header-image {

  .title-area {
    margin: 0 auto;
    max-width: $title-area--width;
    padding: 0;

    @media only screen and (max-width: 1023px) {
      float: left;
    }
    @media only screen and (max-width: 480px) {
      max-width: 200px;
    }
  }
  .site-header {
    .site-title > a {
      background-position: center !important;
      background-size: contain !important;
      float: left;
      min-height: $site-title--min-height;
      width: 100%;
      background-repeat: no-repeat;
      background-image: url("https://travis.media/wp-content/uploads/2018/04/travis-media-logo-white.png");
    }

    .site-description,
    .site-title {
      display: block;
      text-indent: -9999px;
    }
  }

  .site-header.dark-logo {
    .site-title > a {
      background-image: url("https://travis.media/wp-content/uploads/2018/04/travis-media-logo-black.png");
    }

    .site-description,
    .site-title {
      display: block;
      text-indent: -9999px;
    }
  }
}