.blog { 
  .entry {
    width: 31.62393%;
  }
  .entry:nth-of-type(3n + 1) {
  margin-left: 0;
  }
  .entry:nth-of-type(even) {
    margin-left: 2.5641%;
  }
}

.archive {
  .entry {
    width: 31.62393%;
  }
  .entry:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .entry:nth-of-type(even) {
    margin-left: 2.5641%;
  }
}

