.home {
  .site-inner {
  }
  .tm-section{
    padding: 4.375rem 0px;
    max-width: 100%;
    .container {
      margin: 0 auto;
      max-width: 1280px;
      padding-left: 15px;
      padding-right: 15px;
      .tm-section-title {
        margin-bottom: 40px;
      }
      .tm-section-content {
        img {
          border-radius: 50%;
        }
        img.orange-dashed {
          border: 1px dashed #c4732d;
        }
        img.blue-dashed {
          border: 1px dashed #313e50;
        }
      }
    }
    .panel {
      margin-bottom: 2.564102564102564%;
      position: relative;
      .panel-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .middle-button {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        .middle-button-text {
          color: #313e50;
          font-size: 36px;
          font-family: 'lato', serif;
          font-weight: 800;
          font-style: italic;
          text-transform: lowercase;
        }
      }
      &:hover {
        img {
          opacity: 0.2;
          transition: .5s ease;
        }
        .middle-button {
          opacity: 1;
        }
      }
    }
  }
  section#work-testimonials {
    background-color: #e7ebef;
    .work-section {
      margin-bottom: 70px;
    }
    .work-line {
      border-top: 1px solid #333;
      width: 30%;
      margin: 1em 0;
    }
    .testimonial-line {
      border-top: 1px solid #333;
      width: 30%;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-right: 0
    }
    .home-work-project {
      background: url(https://travis.media/wp-content/uploads/2018/04/header-cta-brush-mark.png);
      background-repeat: no-repeat;
      background-size: 83%;
      background-position: 19px -5px;
      @include media( $breakpoint__screen-size--large ) {
        background-position: 19px -3px;
      }
      @include media( $breakpoint__screen-size--medium ) {
        background-position: 19px 0px;
      }
      @media only screen and (max-width: 900px) {
        background-position: 19px 3px;
      }
      @include media( $breakpoint__screen-size--small ) {
        background-position: 19px -4px;
      }
      @media only screen and (max-width: 600px) {
        background-position: 19px -1px;
      }
      @media only screen and (max-width: 480px) {
        background: none;
      }
      
      h3 {
        color: #313131;
        font-size: 28px;
      }
    }
  }
  section#home-panels {
    background-color: #e7ebef;
    //background-color: #e8e8e8;
  }
}

.option-one, .option-two, .option-three, .option-4 {
  @include media( $breakpoint__screen-size--small ) {
    margin-bottom: 50px;
  }
}

.owl-carousel .aiosrs-rating-wrap {
  display: none!important;
}
.owl-item p {
  margin-bottom: 0!important;
}

#home-options {
  p.option-title {
      margin-bottom: 10px;
      font-size: 22px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: -0.5px;
      font-family: 'lato';
      color: #444;
  }
}

#gform_16 {
  .gform_footer {
    text-align: center;
    .button {
      background-color: #313e50;
      border-radius: 10px;
    }
  }
} 


