/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap,
.header-search-form {
  margin: 0 auto;
  //max-width: $max-width;
  max-width: 1200px;

  @include media( $breakpoint__screen-size--larger ) {
    max-width: $max-width-larger-screen;
  }
   @include media( $breakpoint__screen-size--large ) {
    max-width: $max-width-large-screen;
  }

   @include media( $breakpoint__screen-size--medium ) {
    max-width: $max-width--medium-screen;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;
  margin-top: -120px;

   @include media( $breakpoint__screen-size--small ) {
    padding: 5% 5% 0;
  }
}

// .page {
//   .site-inner {
//     margin-top: -150px;

//     @include media( $breakpoint__screen-size--small ) {
//       padding: 5% 5% 0;
//     }
//   }
// }

.front {
  .site-inner {
    margin-top: 0;
    max-width: 100%;
    background-color: #ffffff;

    @include media( $breakpoint__screen-size--small ) {
      padding: 5% 5% 0;
    }
  }
}

.single .site-inner {
  margin-top: 120px;
  @include media( $breakpoint__screen-size--medium ) {
    margin-top: 120px!important;
  }
  @include media( $breakpoint__screen-size--small ) {
    padding: 5% 5% 0;
  }
}

  @include media( $breakpoint__screen-size--small ) {
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.landing-page .site-inner {
  max-width: $max-width__landing-page;
}

.blog {
  .site-inner {
    margin-top: 0;
  }
}