.archive {
  .site-inner {
    clear: both;
    padding-top: 40px;
    word-wrap: break-word;
    margin-top: 150px;
    background-color: #fff;
    padding: 40px 56px;
  }
}

.woocommerce button.button.alt {
  background-color: #C47351!important;
}

.woocommerce div.product p.price, .woocommerce ul.products li.product .price {
  color: #222!important;
}
